.queue {
  width: 50%;
  display: inline-block;
}

.queue-list {
  height: 25vh;
  overflow: scroll;
}

.queue-buttons {
  height: 5vh;
}

.fa-headphones {
  float: right;
}

#postedBy {
  font-size: 75%;
}
